/* #region mixins */
@mixin tamanho($point) {
  @if $point == medium {
    @media (min-width: 744px) {
      @content;
    }
  } @else if $point == large {
    @media (min-width: 1260px) {
      @content;
    }
  }
}

/* #endregion */

.rodape {
  width: 100%;
  height: 200px;
  background-image: url('../images/rodape-imagem.png');
  background-size: cover;
  background-position: 135%;
  position: sticky;
  z-index: -1;
}

@include tamanho(medium) {
  .rodape {
    height: 400px;
  }
}

@include tamanho(large) {
  .rodape {
    height: 555px;
  }
}
